<h1><%= @author.name %></h1>

<%= link_to "New Post", new_author_post_path(@author) %>

<p>Posts:</p>
<% @author.posts.each do |post| %>
  <h1><%= @post.title %></h1>
<p>by <%= link_to @post.author.name, author_path(@post.author) if @post.author %> (<%= link_to "Edit Post", edit_author_post_path(@post.author, @post) if @post.author %>)</p>
<p><%= @post.description %> </p> 
<% end %>
